<div>
  <h2>Request A Track</h2>

  <div class="doing">
    <div class="search" />
    <div class="results" />
  </div>

  <div>
    <hr />
    <a href="https://www.facebook.com/dialog/oauth?client_id=<%= facebookAppID %>&redirect_uri=<%= encodeURIComponent(url) %>&response_type=token&scope=publish_stream">Login to Facebook</a>

    <!--
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&scope=publish_streams&appId=<%= facebookAppID %>";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-login-button" data-show-faces="true" data-width="200" data-max-rows="2"></div>
    -->
  </div>
</div>