<h3>Request from Album: "<%= item.name %>"</h3>

<ul class="requests no-bullets">
  <li class="request">
    <label>Play random track from album</label>
    <%= twitter.album.random %>
    <%= facebook.album.random %>
  </li>
  <li class="request">
    <label>Play top track from album</label>
    <%= twitter.album.top %>
    <%= facebook.album.top %>
  </li>
</ul>

<h3>Request from Artist: "<%= item.artist %>"</h3>
<ul class="requests no-bullets">
  <li class="request">
    <label>Play random track from artist</label>
    <%= twitter.artist.random %>
    <%= facebook.artist.random %>
  </li>
  <li class="request">
    <label>Play top track from artist</label>
    <%= twitter.artist.top %>
    <%= facebook.artist.top %>
  </li>
</ul>