<h3>Request for "<%= track.name %>"</h3>

<a href="https://twitter.com/intent/tweet?button_hashtag=qitup&text=Play%20%22<%= track.name %>%22%20by%20%22<%= track.artist %>%22" target="_blank" class="twitter-hashtag-button" data-size="large" data-related="justinjmoses" data-url="http://live.qitup.fm/#qitup">Tweet your Request</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
