$spotify-grey = #ecebe8
$font-size = 16px

html, body
  margin 0
  font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size $font-size

body 
  background-color $spotify-grey

input
  font-size $font-size

.content, .facebook
  margin 1em

.header
  height 20px
  background-color black
  color white
  padding-left 1em

ul
  margin 0
  padding 0

ul.inline 
  > li
    list-style-type none
    display inline-block

ul.no-bullets
  > li
    list-style-type none

input.query
  width 20em

h3 
  margin-bottom 0
