$spotify-grey = #ecebe8
$font-size = 18px

html, body
  margin 0
  font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size $font-size

body 
  background-color $spotify-grey

input
  font-size $font-size+4

a 
  //color #dc152c
  color #4383fa
  font-weight bold

.content, .facebook
  margin 1em

.header
  height 20px
  background-color black
  color white
  padding-left 1em
  a 
    color #50ccff
    text-decoration none

ul
  margin 0
  padding 0

ul.inline 
  > li
    list-style-type none
    display inline-block

ul.no-bullets
  > li
    list-style-type none

input.query
  width 12em

h3 
  margin-bottom 0
