$spotify-grey = #ecebe8

html, body
  margin 0
  font-family 'Helvetica Neue', Helvetica, Arial, sans-serif

body 
  background-color $spotify-grey

.content
  margin 1em

ul
  margin 0
  padding 0

ul.inline 
  > li
    list-style-type none
    display inline-block

ul.no-bullets
  > li
    list-style-type none

input.query
  width 20em

h3 
  margin-bottom 0