html,
body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body {
  background-color: #ecebe8;
}
.content {
  margin: 1em;
}
ul {
  margin: 0;
  padding: 0;
}
ul.inline > li {
  list-style-type: none;
  display: inline-block;
}
input.query {
  width: 20em;
}
.loader {
  min-height: 500px;
  background: url("/img/loader.gif") center no-repeat;
}
.helper {
  font-size: 0.9em;
  color: #bbb;
}
.results {
  margin-top: 0.5em;
}
