.tracks, .artists, .albums
  font-size 0.9em
  > li:nth-child(odd)
    background-color #ddd

.track, .album
  display inline-block
  width 20em
  white-space nowrap
  overflow hidden
  text-overflow ellipsis