.loader {
  min-height: 500px;
  background: url("/img/loader.gif") center no-repeat;
}
.helper {
  font-size: 0.9em;
  color: #bbb;
}
.results {
  margin-top: 0.5em;
}
.tracks,
.artists,
.albums {
  font-size: 0.9em;
}
.tracks > li:nth-child(odd),
.artists > li:nth-child(odd),
.albums > li:nth-child(odd) {
  background-color: #ddd;
}
.track,
.album {
  display: inline-block;
  width: 20em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.requests .request {
  clear: both;
}
.requests .request:nth-child(odd) {
  background-color: #ddd;
}
.requests .request:nth-child(even) {
  background-color: #bbb;
}
.requests .request label {
  float: left;
  width: 8em;
  padding: 1em;
  font-size: 0.9em;
  text-align: center;
}
.requests .request iframe,
.requests .request button {
  width: 150px;
  height: 28px;
  margin: 1em 0px;
}
.requests .request button.post-to-facebook {
  float: left;
  background: #eee url("/img/facebook.png") 2px no-repeat;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #999;
  border-radius: 4px;
  padding-left: 10px;
  margin-top: 16px;
  margin-right: 1em;
}
.requests .request button.post-to-facebook:hover {
  background-color: #ddd;
}
.facebook-login {
  display: block;
  padding: 1em;
  background: #add8e6 url("/img/facebook.png") 10px no-repeat;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  padding-left: 40px;
}
