.loader
  min-height 500px
  background url(/img/loader.gif) center no-repeat

.helper
  color #bbb

.results
  margin-top 0.5em

.tracks, .artists, .albums
  > li
    padding 0.3em 0
  > li:nth-child(odd)
    background-color #ddd
  a
    font-size 100%
.track, .album
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

h3 
  clear both

.requests
  clear both
  .request
    clear both
    overflow hidden
    &:nth-child(odd)
      background-color #ddd
    &:nth-child(even)
      background-color #bbb
    label
      float left
      width 8em
      padding 1em
      font-size 0.9em
      height 2em
      text-align center
    iframe, button
      float left
      width 100px
      height 28px
      margin 1em 0px
    button.post-to-facebook
      float left
      background #eee url(/img/facebook.png) 2px no-repeat
      cursor pointer
      font-weight bold
      border 1px solid #999
      border-radius 4px
      padding-left 15px
      margin-top 18px
      &:hover
        background-color #ddd

.facebook-login
  display block
  padding 1em
  background lightblue url(/img/facebook.png) 10px no-repeat
  cursor pointer
  color black
  text-decoration none
  padding-left 40px

